<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body style>
		<nav class="navbar navbar-default navbar-fixed-top" role="nav">
			<div class="container">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">
						<span class="logo"></span>
					</a>
				</div>
				{% set navigation_bar = navigation_bar|default([
					(url_for('index'), 'home', 'Home'),
					(url_for('register'), 'register', 'Register'),
					(url_for('login'), 'login', 'Login')
				]) -%}
				<ol class="nav navbar-nav navbar-right">
					{% set main_active = main_active|default('home') %}
					{% for href, id, caption in navigation_bar %}
						<li	{% if main_active == id %} class="active" {% endif %}	>
						<a href="{{ href|e }}">{{ caption|e }}</a>
					</li>
					{% endfor %}
				</ol>
			</div>
		</nav>

		{% block content %}{% endblock %}
		<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>
