<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body style>
		<nav class="navbar navbar-default navbar-fixed-top" role="nav">
			<div class="container">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">
						<span class="logo"></span>
					</a>
				</div>
				<ol class="nav navbar-nav navbar-right">
          <li  {% if selectedNav == "Home" %} class="active" {% endif %}  >
            <a href="/">Home</a></li>
          <li  {% if selectedNav == "Register" %} class="active" {% endif %}  >
            <a href="#">Register</a></li>
          <li  {% if selectedNav == "Login" %} class="active" {% endif %}  >
            <a href="/login">{% if loggedIn == "true" %}Logout{% else %}Login{% endif %}</a></li>
				</ol>
			</div>
		</nav>

		{% block content %}{% endblock %}
		<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>
