{% extends "_layout.html" %}
{% block title %}
Homepage
{% endblock %}
{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
			  <li class="active"><a href="{{ url_for('homepage') }}">Main</a></li>
			  <li><a href="{{ url_for('export') }}">Export</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Link 4</a></li>
            <li><a href="">Link 5</a></li>
            <li><a href="">Link 6</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Link 7</a></li>
            <li><a href="">Link 8</a></li>
            <li><a href="">Link 9</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			{% block inner_content %}
			{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}
