{% extends "_layout.html" %}
{# Override default navigation bar. #}
{% set navigation_bar = [
	(url_for('homepage'), 'home', 'Home'),
	(url_for('logout'), 'logout', 'Logout')
] -%}
{% block title %}
Homepage
{% endblock %}
{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
		  {# Navigation menu for sidebar. #}
		  {% set sidebar_navigation_menu = sidebar_navigation_menu|default([
		  	(url_for('homepage'), 'homepage', 'Main'),
			(url_for('export'), 'export', 'Export')
		  ]) -%}
          <ul class="nav nav-sidebar">
			{% set sidebar_active = sidebar_active|default('homepage') %}
			{% for href, id, caption in sidebar_navigation_menu %}
				<li {% if sidebar_active == id %} class="active" {% endif %} id="{{ id }}"><a href="{{ href }}">{{ caption }}</a></li>
			{% endfor %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			{% block inner_content %}
			{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}
