{% extends "_user_layout.html" %}
{% block title %}
Homepage
{% endblock %}
{% block inner_content %}
<h1 class="page-header">Homepage of {{allInfo.firstname}} {{allInfo.lastname}}!</h1>

<div class="row">
	<div class="col-xs-12 col-sm-6">
		Placeholder graph for later content
		<img class="img-responsive" src="{{ url_for('static', filename='images/line-graph.png') }}">
	</div>
</div>
  
<h3>Add occurrence</h3>
<form class="form-inline" method="POST" action="/add_entry" role="form">
	<input type="text" class="form-control" placeholder="Symptom" name="symptom"/>
	<input type="date" class="form-control" placeholder="Start date" name="startd"/>
	<input type="time" class="form-control" placeholder="Start time" name="startt"/>
	<input type="date" class="form-control" placeholder="End date" name="endd"/>
	<input type="time" class="form-control" placeholder="End time" name="endt"/>
	<input type="number" class="form-control" name="severity" min="1" max="10" step="1" value="1"/>
	<button type="submit" class="btn btn-primary">Add</button>
</form>

<h2 class="sub-header">History</h2>
<form class="form-inline" method="" action="" role="form">
	<select name="history">
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="15">15</option>
		<option value="25">25</option>
	</select>
	<button type="submit">Refresh</button>
</form>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Symptom</th>
				<th>Start date</th>
				<th>Start time</th>
				<th>End date</th>
				<th>End time</th>
				<th>Severity</th>
			</tr>
		</thead>
		<tbody>
		{% for entry in entries %}
			<tr>
				<td>Headache</td>
				<td>{{entry.start_date}}</td>
				<td>{{entry.start_time}}</td>
				<td>{{entry.end_date}}</td>
				<td>{{entry.end_time}}</td>
				<td>{{entry.severity}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
