{% extends "_layout.html" %}
{% block title %}
Welcome page
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div id="hometext" class="col-md-6">
		</div>
		<div id="home_registration" class="col-md-6">
			<!-- Redirects to registration page on unsuccessful registration -->
			<form class="form-signin" role="form" action="register" method="POST">
				<div class="form-group">
					{{ form.username.label(class="control-label") }}
					{{ form.username(class="form-control", placeholder="Username") }}
				</div>
				<div class="form-group">
					{{ form.password.label(class="control-label") }}
					{{ form.password(class="form-control", placeholder="Password") }}
				</div>
				<div class="form-group">
					{{ form.confirm.label(class="control-label") }}
					{{ form.confirm(class="form-control", placeholder="Password") }}
				</div>
				<div class="form-group">
					{{ form.email.label(class="control-label") }}
					{{ form.email(class="form-control", placeholder="user@example.com") }}
				</div>
				<div class="form-button">
					<button type="submit" class="btn btn-default">Register</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
