{% extends "_layout.html" %}
{% set main_active = 'login' %}
{% block content %}
<div class="container">
	<div class="sole-content">
		<div class="row">
			{% if form.errors %}
			<div class="col-md-6 col-md-offset-3 alert alert-danger">
				<ul class="errors">
					{% for field_name, field_errors in form.errors|dictsort if field_errors %}
						{% for error in field_errors %}
							<li>{{ error }}</li>
						{% endfor %}
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		<div class="row">
			<div id="registration" class="col-md-6 col-md-offset-3">
				<form class="form-signin" role="form" action="login" method="POST">
					<div class="form-group">
						{{ form.username.label(class="control-label") }}
						{{ form.username(class="form-control", placeholder="Username") }}
					</div>
					<div class="form-group">
						{{ form.password.label(class="control-label") }}
						{{ form.password(class="form-control", placeholder="Password") }}
					</div>
					<div class="form-button">
						<button type="submit" class="btn btn-default">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
